@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Korea will overcome COVID-19 crisis soon~~~!!!</h1>
    <p>This demo is for <a href="https://docs.microsoft.com/aspnet/core"> Building Azure CI/CD Pipeline for AKS on Rancher </a>.</p>
</div>
